.client {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding: 60px 0;
}
.client__container {
  // flex-direction: column;
}

.client__title {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;

  color: $filter-item-text-color;
}

.client__list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  @include list(flex, wrap, -30px, -30px, null, null, null);

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.client__item {
  list-style: none;
  @include item(2, 30px, 30px, 30px, null, null, null);
  @media screen and (min-width: 768px) {
    @include item(3, 30px, 30px, 30px, null, null, null);
  }

  @media screen and (min-width: 1200px) {
    @include item(6, 30px, 30px, 30px, null, null, null);
  }
}

// @media screen and (min-width: 480px) {
//   margin-top: 0;
// }
// }

.client__item + .client__item {
  // margin-left: 30px;
}
.client__link {
  height: 92px;
  display: flex;
  color: $client-icons-color;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  &:nth-child(2n-1) {
    // margin-right: 25px;
  }

  // transition-property: color, border-color;
  // transition-duration: 250ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.client__icon {
  margin: auto auto;
  display: block;
  fill: currentColor;
  width: 106px;
  height: 60px;
}
