.logo {
  /* display: flex; */

  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.header__logo--black {
  color: $title-text-color;
}
