.logo {
  /* display: flex; */
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $accent-color;
  }
}

.header__logo {
  display: block;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    // padding-top: 26px;
    // padding-bottom: 26px;
    margin-right: 88px;
  }
}

.header__logo--black {
  color: $title-text-color;
}
