$accent-color: #2196f3;
$primary-text-color: #757575;
$title-text-color: #000000;
$bcg-color: #2f303a;
$light-bcg-color: #f5f4fa;
$filter-item-text-color: #212121;
$primary-white-color: #ffffff;
$footer-auth-text-color: rgba(255, 255, 255, 0.6);
$hero-button-accent-bcg-color: #188ce8;
$client-icons-color: #afb1b8;
$join-link-bg-color: rgba(255, 255, 255, 0.1);
