.hero__container {
  flex-direction: column;
  margin: auto;
}

.hero {
  display: flex;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $primary-white-color;
}

.hero__button {
  margin-right: auto;
  margin-left: auto;

  background-color: $accent-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  color: $primary-white-color;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $hero-button-accent-bcg-color;
  }
}
