.footer {
  background-color: $bcg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.contacts {
}

.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
}
.logo.footer__logo--white {
  color: $primary-white-color;
}

.contacts__address {
  margin-bottom: 9px;
  font-style: normal;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;
}

.contacts__list {
}

.contacts__item {
  list-style: none;
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.join {
}

.join__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.join__list {
  display: flex;
}

.join__item {
  list-style: none;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $primary-white-color;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing {
}

.mailing__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}

.mailing__form {
  display: flex;
}

.mailing__input {
  padding-left: 16px;
  width: 358px;
  height: 50px;

  background-color: $bcg-color;
  color: $primary-white-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mailing__button {
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: $primary-white-color;

  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $hero-button-accent-bcg-color;
  }
}

.mailing__icon {
  width: 24px;
  height: 24px;
}
